<html>
  <head>
    <style>{{css}}</style>
    <style>
      @media print {
        @page {
          size: {{size.[0]}}in {{size.[1]}}in;
        }

        body {
          font-size: .166in;
          width: 100vw !important;
          height: 100vh !important;
          padding: {{margins.[1]}} {{margins.[0]}};
          border: 1px grey dashed;
          box-sizing: border-box;
        }

        .day-focus-header {
          font-size: .115in;
          padding: 4px;
          color: #333333;
        }

        .cell-header {
          padding: .02in 2px;
          background-color: #aaaaaa;
          color: #333333;
        }

        .cell-with-header {
          margin: 2px;
          border-width: 2px;
          border-color: #aaaaaa;
        }

        .cell {
          margin: 2px;
          border-width: 2px;
          border-color: #aaaaaa;
        }

        .bottom-padding {
          padding-bottom: 0px;
        }

        .day-header {
          background-color: #aaaaaa;
          border-color: #aaaaaa;
        }

        .week-row {
          border-color: #aaaaaa;
        }

        .cell-with-header.to-do-table:first-of-type {
          margin-left: 0px;
        }

        .cell-with-header.to-do-table:last-of-type {
          margin-right: 0px;
        }

        .to-do-row {
          border-color: #aaaaaa;
        }
      }

      body {
        width: {{multiply size.[0] dpi}};
        height: {{multiply size.[1] dpi}};
      }
    </style>
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
      </script>
  </head>
  <body class="container">
      <div class="main-section" style="height:78%;">
        {{#each days}}
        <div class="column">
          <div class="day-header">
            {{this}}
          </div>
          <div class="week-row"></div>
          <div class="week-row"></div>
          <div class="week-row"></div>
          <div class="week-row"></div>
          <div class="week-row"></div>
          <div class="week-row"></div>
        </div>
        {{/each}}
      </div>
      <div class="bottom-section">
        <div class="column" style="width:50%; flex-direction: row;">
          <div class="cell-with-header to-do-table">
            <div class="cell-header">This month's focus</div>
              <div class="to-do">
                <div class="to-do-row">
                  {{!-- <div class="day-focus-header">Personal</div> --}}
                </div>
              </div>
              <div class="to-do">
                <div class="to-do-row">
                  {{!-- <div class="day-focus-header">Work</div> --}}
                </div>
              </div>
          </div>
          <div class="cell-with-header to-do-table">
            <div class="cell-header">People to see</div>
              <div class="to-do">
                <div class="to-do-row"></div>
              </div>
          </div>
          <div class="cell-with-header to-do-table">
            <div class="cell-header">Places to go</div>
              <div class="to-do">
                <div class="to-do-row"></div>
              </div>
          </div>
          <div class="cell-with-header to-do-table">
            <div class="cell-header">Things to do</div>
              <div class="to-do">
                <div class="to-do-row"></div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html>
